html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* Reusable classes starts here and ends before the "header, .hero class" */
/* The heading of information section is not included in this class */
.text--title {
    color: #f9faf8;
    font-weight: bolder;
}

/* Wonder why it is name like this, why not "text--body"? It's because nav and the text in the footer is also included in this class -- they are not body text, right? */
.text--non-title {
    color: #e5e7eb;
    font-size: 18px;
}

.img {
    border: 6px solid #8CC0DE;
    border-radius: 20px;
}

/* This class are applied to anything that has <a> tag except for the footer's link */
.link {
    text-decoration: none;
}

button {
    outline: none;
    background: #3882f6;
    border-radius: 8px;
    padding: 8px 20px;
}

.btn {
    color: #f9faf8;
    font-weight: bold;
}

/* This refers to the navigation buttons*/
.list-item {
    list-style-type: none
}

header,
.hero,
footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 10px 135px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* This class wrapped the navigation button (About and Github) */
.nav-container {
    display: flex;
    gap: 30px;
}

header nav a {
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

header nav a:link,
header nav a:visited {
    color: #e5e7eb;
    font-size: 18px;
}

header nav a:focus {
    outline: 2px solid #3882f6;
    color: #f9faf8;
}

header nav a:hover,
header nav a:active {
    color: #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}

.hero {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 50px 135px 75px;
}

.hero__text-container {
    width: 450px;
    flex: 1 1 auto;
}

.hero__heading {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero__img-container {
    flex: 1 2 auto;
    display: flex;
    justify-content: flex-end;
}

.hero__img {
    width: 450px;
    height: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 35px 135px 75px;
}

.information__heading {
    color: #1f2937;
    font-size: 30px;
    font-weight: bolder;
}

.information__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.information__card {
    width: 305px;
    height: auto;
}

.information__img {
    width: 300px;
    height: 200px;
    margin-bottom: 0px;
}

.information__subtitle {
    color: #1f2937;
    text-align: center;
}

.quote,
.sign-up-block {
    padding: 75px 170px;
    background-color: #e5e7eb;
}

.quote__para {
    color: #1f2937;
    font-size: 30px;
}

.quote__quotee {
    color: #1f2937;
    font-size: 22px;
    font-weight: bold;
    text-align: end;
}

.sign-up-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sign-up-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 35px 85px;
    border-radius: 8px;
    background-color: #3882f6;
}

.sign-up__text-container {
    width: 800px;
}

.sign-up__heading {
    font-size: 20px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 10px;
}

.sign-up-block button {
    border: 3px solid white;
}

footer {
    flex-direction: column;
    justify-content: center;
}

footer .list-item {
    margin: 5px;
}

footer a {
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

footer a:link,
footer a:visited {
    color: #e5e7eb;
    font-size: 18px;
    border-bottom: 2px solid #e5e7eb;
}

footer a:focus {
    outline: 2px solid #3882f6;
    color: #e5e7eb;
}

footer a:hover,
footer a:active {
    color: #e5e7eb;
    border-bottom: none;
}
